
@{
    ViewData["Title"] = "ClaimDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Request Claim</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Claim Form</li>
                    <li class="breadcrumb-item active">Request Claim</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Claim Detail</h3>
                    </div>
                    <table id="myTable" class=" table order-list">
                        <thead>
                            <tr>
                                <td>Name</td>
                                <td>Gmail</td>
                                <td>Phone</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-sm-4">
                                    <input type="text" name="name" class="form-control" />
                                </td>
                                <td class="col-sm-4">
                                    <input type="mail" name="mail" class="form-control" />
                                </td>
                                <td class="col-sm-3">
                                    <input type="text" name="phone" class="form-control" />
                                </td>
                                <td class="col-sm-2">
                                    <a class="deleteRow"></a>

                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5" style="text-align: left;">
                                    <input type="button" class="btn btn-block btn-info btn-lg" id="addrow" value="Add Row" />
                                </td>
                            </tr>
                            <tr>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
</section>

<script>
    $(document).ready(function () {
        var counter = 0;

        $("#addrow").on("click", function () {
            var newRow = $("<tr>");
            var cols = "";

            cols += '<td><input type="text" class="form-control" name="name' + counter + '"/></td>';
            cols += '<td><input type="text" class="form-control" name="mail' + counter + '"/></td>';
            cols += '<td><input type="text" class="form-control" name="phone' + counter + '"/></td>';

            cols += '<td><input type="button" class="ibtnDel btn btn-md btn-danger "  value="Delete"></td>';
            newRow.append(cols);
            $("table.order-list").append(newRow);
            counter++;
        });



        $("table.order-list").on("click", ".ibtnDel", function (event) {
            $(this).closest("tr").remove();
            counter -= 1
        });


    });

</script>
